@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';

*{
	margin: 0;
	padding: 0;
	overflow: visible;
	box-sizing: border-box;
	
}
.wrapper{
	display: flex;
	justify-content:space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 22px;
}
.img{
	background: url(../img/Fon.jpg) no-repeat;
	background-size: cover;
	min-height: 100vh;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 48px;
	min-height: 100px;
	

		.center{
		}
		.logotype{
			font-weight: bold;
		}
		.btn{
			position: relative;
			text-decoration: none;
			color: black;
			margin: 0 0 6px 20px;
			font-weight: bold;
		
			&:hover{
				&:after{
					content: '';
					position: absolute;
		

					bottom: 0;
					left: 0;
					width: 100%;
					border-bottom: 1px solid #97c89a;

				}
				
			}	
			
			&:nth-child(1){
				padding: 0;
			}
			&:nth-child(5){
				margin: 0 0 0 53px;
			}
		}
		
		

		

		

}

.main{
	padding-top: 184px;
}
.gradient {
	background: linear-gradient(to top right, #267ebe, #6dd5ed);
		
}
.wrapper1{
	max-width: 1200px;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 22px;
	

	.main_colortext{
		color: #ffffff;
		margin-bottom: 80px;
		font-size: 60px;
		
	}

}
.my-row{
	.row-flex();
}

.feedback{


	&-card{
		min-width: 372px;	
		background-color: #ffffff;
		border-radius: 10px;
		margin-bottom: 45px;
		padding-top: 50px;
		padding: 0 33px;
		padding-bottom: 75px;
		.col();
		.size(4);
		.size-md(4);
		.size-sm(6);
		.size-xs(10);

		&__face{
			margin: 68px 0;
			
		}
	
		&__text{
			margin: 24px 40px 0 0;
			font-weight: 500;
			margin-bottom: 36px;
		}
	}
}


