@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import 'libs/slick.less';
@import 'libs/slick-theme.less';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: #000;
}


/* Global classes */
img{
	max-width: 100%;
	height: auto;
} 

.wrapper{
	.wrapper();
}
.row{
	.row-flex();
}

.clearfix:before,
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.clear{
	clear: both;
}

.visually-hidden{
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin-top: -1px;
	margin-left: -1px;
	position: absolute;
	clip: rect(0,0,0,0);
	border: none;
}

.btn{
	background-color: @green;
	width: 213px;
	height: 57px;
	line-height: 57px;
	display: inline-block;
	text-align: center;
	color: #fffefe;
	font-weight: 600;
	border: none;
	text-decoration: none;
	border-radius: 29px;
	box-shadow: 0px 7px 21px 0px rgba(55, 125, 60, 0.3);
}


/* Atomic classes */
.d-n{
	display: none;
}

.d-b{
	display: block;
}

/* General */
a:focus,
a:active,
button:focus,
button:active{
	outline-color: @green_line;
}

.header-navigation{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 48px;
	min-height: 100px;

	.menu{
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		list-style: none;
		.media(700px, {
			display:none;
			});

		&.isOpened{
			display:flex;
			flex-direction: column;
			justify-content:center;
			align-items: center;
			position: fixed;
			z-index:3;
			top: 0;
			left: 0;
			width:100%;
			height: 100vh;
			background-color: rgba(0,0,0,0.9);

		};
	};

	.navigation__a{
		position: relative;
		text-decoration: none;
		color: black;
		margin: 0 0 6px 20px;
		font-size: 14px;
		font-weight: 400;
		.media(700px, {
			margin-bottom: 30px;
			color: white;
			text-align:center;
			font-size: 30px;
			});
		
	
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				border-bottom: 1px solid #97c89a;
				transition: width 0.5s;
			}	
				&:hover:after{
					width: 100%;

				}

		
		
		&:nth-child(1){
			padding: 0;
		}
		&:nth-child(5){
			margin: 0 0 0 53px;
		}
	}		
}
.mobile-menu{
	display:none;
	.media(700px, {
		display:block;
		});
	background-color:transparent;
	border: 2px solid black;
	border-right-color: transparent;
	border-left-color: transparent;
	width:30px;
	height:20px;
	position: relative;
	transition: 0.3s;
	outline: none;
	

	&.closer{
		position:fixed;
		z-index:5;
		@offser:20px;
		top:@offser;
		right: @offset;
		
	}


	&:before{
		content: '';
		display:block;
		height: 2px;
		border-bottom:2px solid black;
		position: absolute;
		right: 0;
		top:50%;
		left: 0;
		margin-top: -3px;
		transition: 0.3s;
		outline: none;
	}
	&:hover, &:focus, &:active{
		border-top-color: @green_line;
		border-bottom-color: @green_line;
		transform: scaleY(1.3);
	}
	&:hover:before, &:active:before, &:focus:before{
		border-bottom-color: @green_line;
	}
}
.main{
	border-top: 1px;

}

.first-screen{
	padding-top: 185px;
	padding-bottom: 266px;
	margin-bottom: 183px;
	background: url(../img/Fon.jpg) no-repeat;
	background-size: cover;
	min-height: 100vh;
	.media(468px, {
			background-position: -300px;

			})
}
.slogan{
	
	&__text{
		font-size:4.69vw;
		.size(7);
		margin-bottom: 55px;
		.media(730px, {
			font-size: 35px;
			});
		.media(468px, {
			font-size: 40px;
			.size(12);
			margin-bottom: 80px;

			})

	}
	&__btn{
		transition: background-color 0.3s;
		border: 2px solid transparent;

		.media(490px, {
			display:block;
			margin: 0 auto;
			margin-top:20px;
			});

		&:hover{
			background-color: @green;
			color: #fff;
		}

	}

	&__btn_white{
		margin-left: 25px;
		border: 2px solid @green;
		background-color: transparent;
		color: #000;
		box-shadow: unset;

		
		&:hover{
			background-color: @green;
			border: none;
		}
	}
}

.product-range{
	
	&__h{
		margin-bottom: 43px;
		font-size: 48px;
		text-align: center;
		font-weight: 400;

	}

	&__p{
		width:50%;
		margin: 0 auto;
		margin-bottom: 60px;
		font-size: 14px;
		line-height: 21px;
		color: #555;
		text-align: center;
	}
}

.product-tab{
	display:flex;
	justify-content: center;
	align-items: baseline;
	margin-bottom: 35px;

	&__li{
		font-weight:600;
		font-size: 14px;
		list-style:none;
		padding: 2px 5px;
		border-bottom: 2px solid transparent;
		transition:0.5s;

		&+&{
			margin-left:65px;
		}
		&.active, &:hover, &:focus, &:active{
			border-bottom:2px solid @green_line;

			a{
				color:green;
			}
		}
	}


	&__link{
		text-decoration: none;
		color: #000000;
		&:hover, &:focus, &:active{
			color: @green;
		}		
	}
}
.product-content{
	list-style:none;
	margin-bottom: 170px;
	.media(839px, {
		margin-bottom: 10px;
		});

	&__li{
		margin-bottom: 170px;
		display:none;
	}
}
.active{
		display:flex;
		.media(839px, {
		margin-bottom: 10px;
		});
	}

.product{
	.col();
	.size(3);
	.size-md(4);
	.size-sm(6);
	.size-xs(9);
	list-style:none;
	text-align: center;
	&__img{
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		background-size: cover;
	}
	&__text{
		margin-bottom:17px;
		font-size: 16px;
		font-weight: 600;
		color:#010101;
	}
	&__price{
		margin-bottom: 30px;
	}
	.media(561px, {
		margin: 0 auto;
		} );
}
.info{
	margin-bottom:227px;

		&__h{
		font-size:48px;
		font-weight: 400;
		margin-bottom:60px;
		.media(939px, {
			font-size: 2.5rem;
			text-align:center;

			});

	}
	&__p{
		margin-bottom:40px;
		color: #000;
		font-size:14px;
		line-height: 21px;	
	}
	&__btn{
		text-decoration: none;
		border: none;
		border-bottom: 1px solid @green_line;
		color: @green;
		font-size: 16px;
		font-weight: 600;
		background-color: transparent;
	}
}
.slider-container{
	float:left;
	margin-right:20px;
	text-align: right;
	margin-bottom: 40px;
	width:50%;
	.media(939px,{
		float: none;
		text-align:center;
		margin: 0 auto;
		});
	&__btn{
		border: transparent;
		background-color: transparent;
		height:14px;
		width: 21px;
		position: relative;

		&_next{
			margin-left:10px;
		}
		&_back{
			transform:rotate(180deg);
		}

		&:before{
			content: '';
			display:block;
			position:absolute;
			top: 0;
			left: 0;
			height:100%;
			width: 100%;
			background-image: url(../img/ico-arrow.svg);
			background-repeat: no-repeat;
		}
	}
}




.gradient {
	margin-top: 184px;
	padding-bottom: 180px;
	.media(730px, {
			padding: 0;
			});
	.media(468px, {
			padding: 0;
			
			});
		
}

.feedback_colortext{
	font-weight:400;
	text-align: center;
	color: #000;
	margin-bottom: 80px;
	font-size: 60px;
		.media(730px, {

			font-size: 35px;
			});
		.media(468px, {

			margin:0 auto;
			padding-top: -200px;
			font-size: 40px;
			.size(12);
			});

	
}

.my-row{
	.row-flex();
}

.feedback{

	&-card{	
		background-color: #ffffff;
		border: 1px solid #ececec;
		border-radius: 10px;
		margin-bottom: 45px;
		padding-top: 50px;
		padding: 0 33px;
		padding-bottom: 75px;
		box-shadow:2px 3px 3px #ececec;
		.col();
		.size(4);
		.size-md(6);
		.size-sm(12);
		.size-xs(12);
		.media(360px, {
			min-height: 600px;
			})
		&__face{
			margin: 68px 0;
			
		}
	
		&__text{
			margin: 24px 40px 0 0;
			font-weight: 500;
			margin-bottom: 36px;
		}
	}
}

.screen{
	height:100%;
}

.features{
	text-align: center;
	margin-bottom: 36px;
}

.centerP{
	text-align: center;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 46px;	
}

.advantages{
	display:flex;
	.row-flex();

	&-li{
		list-style-type: none;
		padding-top:115px;
		text-align: center;
		padding-bottom:14px;
		.col();
		.size(3);
		.size-md(6);
		.size-sm(6);
		.size-xs(12);
		position: relative;

		

		&+li{
			border-left: 1px solid #dddddd;
		}

			&:before{
				content: '';
				background-image: url(../img/noun_Coffee.png);
				background-color: #eaf4eb;
				background-repeat: no-repeat;
				background-position: center;
				width:55px;
				height: 55px;
				position: absolute;
				top: 40%;
				left: 50%;
				margin-top:  -(55px / 2);
				margin-left: -(55px / 2);
				border-radius: 50%;
			}

			&__Tasty:before{
				background-image: url(../img/noun_muffin.png)

			}
			&__WiFi:before{
				background-image: url(../img/noun_wifi.png);
				
			}
			&__Comfortable:before{
				background-image: url(../img/noun_Sofa.png)
			}
		}
	}

.contacts{
	display:flex;
	align-items:center;
	padding-bottom:50px;
	.media(950px, {
		display:block;
		});
	

	&-info{
		.size(4);
		.media(950px, {
				width:100%;
				margin: 0 auto;	

				});

		&__h{
			font-size:48px;
			font-weight: 400;
			margin-bottom: 70px;
			.media(950px, {
				width:100%;
				text-align:center;
				margin: 0 auto;	
				});
		}
		&__p{
			margin-bottom: 25px;
			font-size:16px;
			font-weight: 400;

			&:before{
				content: '';
				display:inline-block;
				@size: 15px;
				width:@size;
				height:@size;
				background-size:contain;
				background-repeat:no-repeat;
			}
		}
		&__time:before{
			background-image: url(../img/ico_time.png);

		}
		&__adress:before{
			background-image: url(../img/ico-adress.png);

		}
		&__phone:before{
			background-image: url(../img/ico-phone.png);

		}
		&__email:before{
			background-image: url(../img/ico-email.png);
			transform: translateY(5px);
		}
		
	} 
	.contact-info__link, &:active, &:visited{
			text-decoration:none;
			color:black;
		};
	&-map{
		.size(8);
		.media(950px, {
			width:100%;
			});

	}
}
.footer{
	&-copyright{
		text-align: center;
		margin-bottom:46px;
		color: #555555;
		font-size: 14px;
	}	
}

.modal-container{
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);


	&_main{
		display:flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		position:relative;
			.media(450px,{
				height:100%;


			});
	}
	
	.closer{
			position:absolute;
			top: 35px;
			right: 25px;
			width:20px;
			height:20px;
			background-color:transparent;
			border:none;

			&:before, &:after{
				content: '';
				position: absolute;
				top: 50%;
				display: 	block;
				width:100%;
				border-bottom:1px solid #fff;
			}	
			&:before{
			
				 transform: rotate(45deg);
				
			}
			&:after{
				
				 transform: rotate(-45deg);
			}

		}

	.modal{
		background-color: #fff;
		display:none;

			&.active{
			display:block;

		}
	}

	.modal-book{
			.media(800px,{
				padding-top:20px;
				padding-bottom:20px;
				
			});
		border-radius:4px;
		padding-top:100px;
		padding-bottom: 100px;
		.size(10);
		text-align:center;


		&__h{
			margin-bottom: 35px;
			font-size:48px;
			font-weight:400;
				.media(800px,{

				font-size:20px;
				font-weight:600;
				margin-bottom: 5px;
			});
		}
		&__p{
			text-align:center;
			width:50%;
			margin: 0 auto;
			line-height:21px;
			margin-bottom:40px;
				.media(450px,{
				font-size:10px;
				
			});
		}

		&__input{
			display:block;
			margin-bottom: 15px;
			margin: 0 auto;
			width:50%;
			border:none;
			border-bottom: 1px solid #555555;
			padding:10px;
			&:focus{
				outline:none;
				box-shadow: 0 0 10px rgba(0,0,0,0.5);
			}

		}
		&__btn{
			margin-top: 50px;
			.media(450px,{
				padding-top:5px;
				padding-bottom:5px;
				line-height: 0;
				
			});
		}
	}

	.modal-video__width{
		width:100%;
		padding: 67px 100px;
		.media(950px, {
			padding:0;
			})
		
	}
	.modal-video__height{
		width: 100%;
		padding-top: 56.25%;
		position:relative;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height:100%;
		}
	}

}

.btn-menu{
	&__a{
		text-decoration:none;
		position:relative;
		border: none;

		&:before, &:after, &:hover{
			content:'';
			display:block;
			position: absolute;
			min-width: 30px;
			min-height: 40px;
			transform:scaleX(1.8);
			text-decoration:none;
			border-bottom: 1px solid @green_line;
			outline:none;
		};
		&:before{
			transform: rotate(-145deg);
			
		};
		&:after{
			transform: rotate(145deg);

		};

		
	}

	&.scroll{
		display:block;
		position:fixed;
		right: 90px;
		bottom: 90px;
	}
}

